layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Operating System for Your Developing Environment
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Anteapiracy
      p.intro-feature-desc The opensource has come true, this is the time to revenge.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title High Qualitea
      p.intro-feature-desc Berangkat dari dukungan dari semua pihak sistem operasi ini mengalami penyempurnaan menjadi sistem operasi yang stabil dan berkualitas.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Communitea
      p.intro-feature-desc Dukungan kuat dari forum dan komunitas dunia virtual maupun komunitas riil menjadikan sistem operasi ini berkembang cepat.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Nutriteaon
      p.intro-feature-desc Dukungan yang kuat dan tersedianya repository yang lengkap menjadikan sistem operasi ini penuh nutrisi.
